{{ range where site.RegularPages "Type" "projects" }}
        
    <div class="col-4 col-12-mobile">
        
            <div>
                <article class="item">
                <a href="{{ .Permalink }} " class="image fit"><img src="{{ .Params.image }}" alt="" /></a>
                <header>
                    <h3> {{.Params.title }} </h3>
                </header>
                </article>
            </div> 
            
            <div>
                <article class="item">
                <a href="{{ .Permalink }} " class="image fit"><img src="{{ .Params.image }}" alt="" /></a>
                <header>
                    <h3> {{.Params.title }} </h3>
                </header>
                </article>
            </div> 

    </div> 

{{ end }}
