
<!-- Contact -->
<section id=" {{ .Params.id }}" class="four">
    <div class="container">

        <header>
            <h2> {{ .Site.Params.title }} </h2>
        </header>

        <p> {{.Params.content}} </p>

        <form method="post" action="#">
            <div class="row">
                <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>

    </div>
</section>

</div>