{{ define "main" }}
<section id="{{.Params.id }}" class=" {{ .Params.class }}">
  <div class="container">
    <header>
      <h2> {{ .Params.Title }} </h2>
    </header>
    <p>{{.Content}}</p>
    <div class="row">
      {{  range .Pages }}
          {{ $imgsrc := .Params.src }}
          <div class="col-4 col-12-mobile">
              <article class="item">
                {{ with resources.Get $imgsrc }}
                <a href="{{ .Permalink }} " class="image fit"><img src="{{ .Permalink }}" alt="" /></a>
                {{ end }}

                <header>
                  <h3> {{.Params.title }} </h3>
                </header>
              </article>
          </div>

      {{ end }}
    </div>
  </div>
  </div>
</section>

{{ end }}